.main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.inputsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal{
    position: absolute
}

.modalClosed{
    display: none;
}